body {
    background-color: #6f0479;
    font-family: Arial, sans-serif;
}
hl {
    color:#9d09aa;
    text-align:center;
}
p{
    color:rgb(104, 22, 180);
    font-size: 20px;
}


























